@import url(reset.css);
@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

@import url(components/status-bar.css);
@import url(components/screen-header.css);
@import url(components/alt-header.css);
@import url(components/btn.css);
@import url(components/navigation.css);
@import url(components/slide.css);

@import url(screens/index.css);
@import url(screens/login.css);
@import url(screens/loading.css);
@import url(screens/register.css);
@import url(screens/chatting.css);

*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    position: relative;
    margin: 0 auto;
    max-width: var( --max-width);
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--color--black);
    /* background-color: #F9f9f9; */
}

.main-screen{
    width: 100%;
    padding-top: 95px;
    padding-bottom: 75px;
}
.main-screen.slide{
    padding-top: 75px;
}

.content{
    padding: 0 var(--horizontal-space);
}

