/* main.css */

/* main */
/* header */
.side-menu input[id="menuicon"]{
    display: none;
}
.side-menu input[id="menuicon"] + label{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 11;
}
.side-menu input[id="menuicon"] + label span{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color--white);
    transition: 0.35s;
}
.side-menu input[id="menuicon"] + label span:nth-child(1){
    top: 0;
}
.side-menu input[id="menuicon"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
.side-menu input[id="menuicon"] + label span:nth-child(3){
    bottom: 0;
}
.side-menu input[id="menuicon"]:checked + label span{
    background-color: var(--color--grey-dark);
}
.side-menu input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.side-menu input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
.side-menu input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
.side-menu div.side-menu-bar{
    position: absolute;
    width: 0;
    height: 100vh;
    background-color: var(--color--grey-bright);
    top: 0;
    right: 0;
    transition: 0.35s;
}
.side-menu input[id="menuicon"]:checked + label + div{
    /* visibility: visible; */
    right: 0;
    width: 250px;
}
/* main-banner */
.main-banner{
    overflow: hidden;
}
/* main-conten */
.main-content{
    background: #fafbfc;
}
.main-content h2{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0 15px;
}
.main-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-content li{
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    width: 48%;
    height: 100%;
    border: 1px solid #eee;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 10px #ddd;
    transition: 0.4s;
}
.main-content li:hover{
    transform: scale(1.05);
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #aaa;
}
.main-content li img{
    width: 100%;
    border-bottom: 0.5px solid #eee;
}
.main-content li .text{
    padding: 15px 10px;
}
.main-content li .text h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--font-size--regular);
}
.main-content li .text p{
    padding-top: 5px;
    font-size: var(--font-size--large);
    font-weight: bold;
}
.main-content li .text .confirm{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    color: #fff;
    font-size: var(--font-size--smallest);
    font-weight: 300;
    border-radius: var(--border-radius);
    background: #D41577;
}

