/* btn.css */

.btn{
    margin-bottom: 15px;
    width: 100%;
    height: 45px;
    font-size: var(--font-size--medium);
    font-weight: var(--font-weight--bold);
    border: none;
    border-radius: var(--border-radius);
}
.btn.color{
    color: var(--color--white);
    background-color: var(--color-main);
}
.btn.normal{
    color: var(--color--grey-dark);
    background-color: var(--color--grey-bright );
}

/* 아이디/비밀번호 찾기 */
.login-find{
    text-align: right;
    
}
.login-find a{
    position: relative;
    font-size: var(--font-size--regular);
    color: var(--color--grey);
}
.login-find a:first-child{
    margin-right: 15px;
}
.login-find a:first-child::after{
    position: absolute;
    left: 73px;
    top: 4px;
    content: "";
    width: 1px;
    height: 13px;
    background-color: var(--color--grey-light);
}