.screen-header{
    z-index: 10;
    position: absolute;
    padding: var(--horizontal-space);
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    border-bottom: var(--header-border--bottom);
}
.screen-header.main{
    background: var(--color-main);
    border-bottom: none;
}




.screen-header.main .screen-header__title{
    color: #fff;
}
.screen-header__title{
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
font-size: var(--font-size--h1);
}
.screen-header__icon span{
    margin-left: 10px;
}