.screen-header{
    position: relative;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding: var(--horizontal-space);
    width: 100%;
    height: 75px;
    box-sizing: border-box;
}
.screen-header.main{
    background: var(--color-main);
}
.screen-header__hambtn{
    position: absolute;
    right: var(--horizontal-space);
    top: 50%;
    transform: translateY(-50%);
}
.screen-header.main .screen-header__title{
    color: #fff;
}
.screen-header__title{
position: absolute;
left: 50%;
top: 50%;
transform: translateX(-50%) translateY(-50%);
font-size: var(--font-size--h1);
}
.screen-header__icon span{
    margin-left: 10px;
}